
body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    float: center;
}

header {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: white;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

#alyssa {
    font-size: 25px;
    float: left;
    font-weight: bold;
    padding: 16px;

}

.topnav {
    border-bottom: .01em solid #cccccc;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    bottom: 0;
    overflow: auto;
}

.container-bio {
    display: inline;
}

#bio {
    width: 750px;
    height: auto;
    margin: 10px 30px 20px 50px;
    padding: 25px 10px 30px 20px;
    background-color: white;
    border-width: .01em;
    border-style: solid;
    border-color:#dddddd;
}

p {
    padding: 10px;
    display: inline;
    line-height: 2;
}

#selfie {
    float:left;
    padding: 20px;
}

h2 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.button {
    background-color: #4aaaa5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.topnav-right {
    float: right;
    bottom: 0;
  }

a {
    color:#777777;
   }

html, body {
    height: 100%;
    margin: 0;
    background-image: url(/Users/alyssacucunato/code/homework-one/assets/images/squares.png);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  }
  
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

  .footer {
    height: 50px;
    background-color: #777777;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
  }